@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a private web site, so any attempts to register will not be approved by the High Commissioner of Preferance unless referred by an existing member.</p>
    <p></p>
    <p>If you're already a member, please <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
    <p>If you're not a member but have been referred to this site by an existing member, please <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
    <p>If you're not a member and have not been referred to this site by an existing member, please <a href="https://www.google.com.au">Click Here</a> and perhaps you'll find something better to do.</p>

</div>
