@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Thanks you for registration request. You will be notified when your account is confirmed by the High Commissioner of Preferance.
    </p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
